{% extends "template.html" %}

{% block head %}
    <title>Home</title>
    <script src = "../static/js/script.js" type ="text/javascript"/></script>
{% endblock head %}

{% block main %}
<h1>This is HomePage.</h1>
    <p id="date"></p>
    <button type="button"
onclick="getDate()">
Click me to display Date and Time.</button><br>
    <input type = "button" onclick = "Hello();" name = "ok" value = "Click Me" /><br>
    <a href="/another">go to AnotherPage</a><br>
    <a href="/about">go to about me</a>
{% endblock main %}