{% extends "template.html" %}

{% block head %}
    <title>Peerapat Channak</title>
{% endblock head %}

{% block main %}

<!--- Image Slider -->
<div id="slides" class="carousel slide" data-ride="carousel">
	<div class="carousel-inner">
	  <div class="carousel-item active">
		<img class="d-block w-100" src="../static/img/Webp.net-resizeimage.jpg" alt="First img">
	  </div>
	</div>
</div>

<!--- Welcome Section -->
<div class="container-fluid padding" id="aboutme">
	<div class="row welcome text-center">
		<div class="col-12">
			<h1 class="display-4 who" style="font-weight: bold; font-size: 50px">Who am I?</h1>
		</div>
		<hr>
		<div class="col-12">
			<p class="lead who text-break">Hi, my name is Peerapat Channak (Aum). I really love programming (sometimes don't),
				reading and memes. My skill is quite average, not bad not good, but I do trust that I can do everything, if I spend enough time on reading about it.</p>
			<p class="lead who text-break">In my view, I think programming is about how much time you spent on searching and reading those tools.
				Thus, when you have a clear understanding, you will have a great insight to pick any tool to suit on your project effectively.
			</p>
			<a target="#" href="https://drive.google.com/file/d/1qkEx651c6nrfZnUh2FKfjQd1A_D8ZVCK/view?usp=sharing" type="button" class="btn btn-outline-dark btn-lg">Transcript</a>
			<a target="#" href="https://drive.google.com/file/d/1bkbew52Jr62u4RsbsNf0hsO1CCbLBYIt/view?usp=sharing" type="button" class="btn btn-outline-light btn-lg">Résumé</a>
		</div>
	</div>
</div>
<hr class="my-4">

<!--- Fixed background -->
<figure>
	<div class="fixed-wrap">
		<div id="fixed">

		</div>
	</div>
</figure>
<div class="container-fluid">
	<div class="row jumbotron" style="height: 90px;">
		<div class="col-12">
			<p class="lead text-center who">Just my lovely cat.</p>
		</div>
	</div>
</div>

<!--- Cards -->
<div class="row welcome text-center">
    <div class="col-12">
        <h1 class="display-4 proj" id="projects">Completed Project{% block admin%}{% endblock admin%}
</h1>
    </div>
    <hr>
</div>
<div class="container-fluid padding ">
	<div class="row padding">

		<div class="col-md-4 mx-auto">
			<div class="card">
				<img class="card-img-top" src="../static/img/plcthumb.jpg">
				<div class="card-body">
					<h4 class="card-title">TPA, PLC Competition, Robo Harvester 2019</h4>
					<p class="card-text">Competition</p>
					<a href="projects/proj0" class="btn float-right btn-primary">See Details</a>
				</div>
			</div>
		</div>

		<div class="col-md-4">
			<div class="card">
				<img class="card-img-top" src="../static/img/peopletools.PNG">
				<div class="card-body">
					<h4 class="card-title">People Counter</h4>
					<p class="card-text">Internship Project</p>
					<a href="projects/proj1" class="btn float-right btn-primary">See Details</a>
				</div>
			</div>
		</div>

		<div class="col-md-4">
			<div class="card">
				<img class="card-img-top" src="../static/img/webpagethumb.PNG">
				<div class="card-body">
					<h4 class="card-title">About Me Webpage</h4>
					<p class="card-text">Self-Project</p>
					<a href="projects/proj2" class="btn float-right btn-primary">See Details</a>
				</div>
			</div>
		</div>

	</div>
</div>

<!--- Past internships -->
<div class="row welcome text-center proj">
    <div class="col-12">
        <h1 class="display-4">Past internships</h1>
    </div>
    <hr>
</div>
<div class="container-fluid pading">
	<div class="row text-center padding">
		<div class="col-12">
			<a href="http://ndrsolution.com/" target="#"><img class="intern-logo" src="../static/img/unnamed.png" alt="NDR Solution"></a>
		</div>
    </div>
    <hr class="light-100">

</div>
{% endblock main %}