{% extends "template.html" %}

{% block head %}
    <link href="../static/css/blog.css" rel="stylesheet">
    <title>TPA, PLC Competition</title>
{% endblock head %}

{% block main %}
<a href="/#projects" class="btn btn-outline-dark btn-lg">Back</a>

<div class="blog-body">
  <div class="col-12 proj">
      <h2 class="text-center">PLC Competition</h2>
      <div id="slides" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner blog-img">
              <img class="d-block w-75" style="margin-right: auto; margin-left: auto;" src="../static/img/plcthumb.jpg" alt="plc img">
          </div>
      </div>

      <div class="container-fluid">
          <div class="row welcome">
              <div class="col-12">
                  <p class="text-break">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;This year, I have joined the competition in robo-harvesting program which is about
                  how much you can cut mangoes from a tree. After registering a team with 3 people, we had to join their seminar first , then when we finished the seminar period, we took the exam.
                   They chose qualified teams from this step to join their real competition. They gave each team about 2-3 months to implement the robot, and each team had to send their progress video within the deadline.
                  </p>
                  <p class="text-breaker">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;There was 3 rounds in the competition (16->8->3 teams, I don't sure about final round), we passed to the semi-final round, and we
                      decided to give up because of some reason. From this event, it makes me feel so uncomfortable with my knowledge, but I will keep improving myself.
                  </p>
                  <div class="container-fluid padding">
                        <div class="row text-center padding">
                            <div class="col-xs-12 col-sm-12 col-md-6">
                                <img class="d-block gif " src="../static/img/plc1.PNG" alt="plc img">
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-6">
                                <img class="d-block gif" src="../static/img/plc2.PNG" alt="plc img">
                                <p>program I used</p>
                            </div>
                            </div>
                        </div>
                    </div>
  </div>
              </div>
          </div>
      </div>
    </div>
  </div>
    	<hr class="my-4">
</div>


<div class="blog-footer">
    <a href="/projects/proj1" class="btn btn-outline-dark btn-lg">></a>
</div>

{% endblock main %}