{% extends "template.html" %}

{% block head %}
    <title>About Me Webpage</title>
    <link href="../static/css/blog.css" rel="stylesheet">
{% endblock head %}

{% block main %}
<a href="/#projects" class="btn btn-outline-dark btn-lg">Back</a>

<div class="blog-body">
  <div class="col-12 proj">
      <h2 class="text-center">About Me Webpage</h2>
      <div id="slides" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner blog-img">
              <img class="d-block w-100" src="../static/img/webpagethumb.PNG" alt="web img">
          </div>
      </div>

      <div class="container-fluid">
          <div class="row welcome">
              <div class="col-12">
                  <p class="text-break">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;As you can see, this website is a whole project! :D</p>
                  <dl>
                    <dt>Tools I used :</dt>
                        <ul>
                            <li>HTML5</li>
                            <li>CSS3</li>
                            <li>Bootstrap4</li>
                            <li>Flask (Python)</li>
                            <li>Git</li>
                            <li>Heroku</li>
                        </ul>
                  </dl>
                  <p class="text-break">p.s.: First time creating this, I don't know tools much in bootstrap. If I spend more time, this web might look better.</p>
              </div>
          </div>
      </div>
    </div>
  </div>
    	<hr class="my-4">


<div class="blog-footer">
    <a href="/projects/proj1" class="btn btn-outline-dark btn-lg"><</a>
</div>

{% endblock main %}